<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <style>
        body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    }

    .topnav {
    overflow: hidden;
    background-color: #176B87;
    }

    .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    .topnav a.active {
    background-color: #ddd;
    color: black;
    }

    .topnav .icon {
    display: none;
    }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
        .contact {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }
        .contact-info {
            flex: 1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>


    <div class="topnav" id="myTopnav">
        <a href="/index" >Home</a>
        <a href="/quizz1">Mental Exercises</a>
        <a href="/contact" class="active">Offline Help</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="container">
        <h1>Seek Offline Aid</h1>

        <div class="contact">
            <div class="contact-info">
                <h2>Jagruti Dementia Care, Senior Living Home & Assistance</h2>
                <p><a href="#">Website</a></p>
                <p><strong>Phone:</strong>098222 0776</p>
                <p><strong>Address:</strong>Plot no 37, Siddhivinayak, Sector 5, Taloja Phase 1 Rd, Petali, Taloja Panchanand, Taloja, Navi Mumbai, Maharashtra 410208</p>
            </div>
            <div class="contact-info">
                <h2>Vibhas Psychiatry Hospital</h2>
                <p><a href="#">Website</a></p>
                <p><strong>Phone:</strong></p>
                <p><strong>Address:Virar West, Palghar</strong> </p>
            </div>
        </div>

        <div class="contact">
            <div class="contact-info">
                <h2>Mary Johnson</h2>
                <p><a href="#">Website</a></p>
                <p><strong>Phone:</strong> +1 (555) 555-5555</p>
                <p><strong>Address:</strong> 789 Oak Lane, Yet Another Town, USA</p>
            </div>
            <div class="contact-info">
                <h2>Robert Davis</h2>
                <p><a href="#">Website</a></p>
                <p><strong>Phone:</strong> +1 (777) 123-4567</p>
                <p><strong>Address:</strong> 101 Pine Street, Somewhere, USA</p>
            </div>
        </div>
    </div>
</body>
</html>
