<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/index_style.css" type="text/css"/>
</head>
<body>
    <div id="topnav">
        <h1 id="title">DemenCure</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>


</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/index_style.css" type="text/css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

  <div class="topnav" id="myTopnav">
      <a href="#home" class="active">Home</a>
      <a href="select">Mental Exercises</a>
      <a href="/contact">Offline Help</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
  </div>

  <div id="img">
    <div id="img-txt" class="centered-text">
      <h2>Welcome to DemenCure!</h2>
      <p>Please fill out the below form to proceed-</p>
      <a href="/analysis" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover" target="_blank">Click Here</a>
    </div>
    
  </div>

  <div class="card-container">
    <div class="card">
      <h3>Information and Guide for Caregivers </h3>&#10084;
      <a href="info">Have a Dementia Patient at Home?
         Click Here
        </a>
    </div>
    <div class="card">
      <h3>Mental Games/Quizzes for Patients</h3>	&#129504;
      <p>Mental exercises are crucial for dementia patients because they provide cognitive stimulation, help retain memory, improve mood, promote social interaction, delay cognitive decline, enhance problem-solving skills, reduce stress, offer a sense of accomplishment, and may delay institutionalization.</p>
      
    </div>
    <div class="card">
      <h3>Patients Information</h3>
      <p>Content for Card 3</p>
    </div>
  </div>
  <footer>Dementia MiniProject</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script>

function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>