<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to handle a Dementia Patient</title>
    <style>
        body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    }

    .topnav {
    overflow: hidden;
    background-color: #176B87;
    }

    .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    .topnav a.active {
    background-color: #ddd;
    color: black;
    }

    .topnav .icon {
    display: none;
    }
    </style>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a href="index" class="active">Home</a>
        <a href="select" >Mental Exercises</a>
        <a href="/contact">Offline Help</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
        <h1>Do you Know How To Handle A Dementia Patient?</h1>
    
</body>
</html>